#textArea {
    width: fit-content;
    height: 100px;
}

label, #textArea, button, #textArea, #radioButton, .userInput {
    vertical-align: middle;
}

.divBlock {
    float: left;
    margin-top: 50px;
    margin-left: 50px;
    padding-left: 10px;
}

.userInput {
    float: right;
    padding: 50px;
}

.userInput label {
    display: block;
    width: 140px;
    text-align: right;
    padding: 5px;
}

/* .userInput input {
    display: inline;
    width: 100px;
    text-align: left;
} */
